<div
  class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="
    min-height: 600px;
    background-image: url(assets/img/theme/profile-cover.jpg);
    background-size: cover;
    background-position: center top;
  "
>
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">
          Hola {{ user.firstname | titlecase }} {{ user.lastname | titlecase }}
        </h1>
        <p class="text-white mt-0 mb-5">
          This is your profile page. You can see the progress you've made with
          your work and manage your projects or assigned tasks
        </p>
        <a
          href="javascript:void(0)"
          class="btn btn-info"
          (click)="openVerticallyCentered(content)"
          >Editar perfil</a
        >
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img
                  [src]="user.imageurl"
                  class="rounded-circle"
                  style="width: 180px; height: 180px;"
                />
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
            <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4"
              >Connect</a
            >
            <a
              href="javascript:void(0)"
              class="btn btn-sm btn-default float-right"
              >Message</a
            >
          </div>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div
                class="card-profile-stats d-flex justify-content-center mt-md-2"
              ></div>
            </div>
          </div>
          <div class="text-center">
            <h3>
              {{ user.firstname | titlecase }} {{ user.lastname | titlecase }}
              <!--  <span class="font-weight-light">, 27</span> -->
            </h3>
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>Bucharest, Romania
            </div>
            <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>Solution Manager
            </div>
            <div>
              <i class="ni education_hat mr-2"></i>University of Computer
              Science
            </div>
            <hr class="my-4" />
            <p>
              Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick
              Murphy — writes, performs and records all of his own music.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Mi cuenta</h3>
            </div>
            <div class="col-4 text-right">
              <a href="#!" class="btn btn-sm btn-primary">Settings</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <fieldset [disabled]="disableForm">
              <h6 class="heading-small text-muted mb-4">
                Información de usuario
              </h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-username"
                        >Nombre de usuario</label
                      >
                      <input
                        type="text"
                        id="input-username"
                        class="form-control form-control-alternative text-dark"
                        placeholder="Username"
                        value="Username"
                        name="username"
                        [(ngModel)]="user.username"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-email"
                        >Correo electrónico</label
                      >
                      <input
                        type="email"
                        id="input-email"
                        class="form-control form-control-alternative text-dark"
                        placeholder="Email"
                        name="email"
                        [(ngModel)]="user.email"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-first-name"
                        >Nombres</label
                      >
                      <input
                        type="text"
                        id="input-first-name"
                        class="form-control form-control-alternative text-dark"
                        placeholder="First name"
                        value="Firstname"
                        name="firstname"
                        [ngModel]="user.firstname | titlecase"
                        (ngModelChange)="user.firstname = $event"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-last-name"
                        >Apellidos</label
                      >
                      <input
                        type="text"
                        id="input-last-name"
                        class="form-control form-control-alternative text-dark"
                        placeholder="Last name"
                        value="Lastname"
                        name="lastname"
                        [ngModel]="user.lastname | titlecase"
                        (ngModelChange)="user.lastname = $event"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <!-- <hr class="my-4" />
            <h6 class="heading-small text-muted mb-4">Contact information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address"
                      >Address</label
                    >
                    <input
                      id="input-address"
                      class="form-control form-control-alternative"
                      placeholder="Home Address"
                      value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09"
                      type="text"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city"
                      >City</label
                    >
                    <input
                      type="text"
                      id="input-city"
                      class="form-control form-control-alternative"
                      placeholder="City"
                      value="New York"
                    />
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country"
                      >Country</label
                    >
                    <input
                      type="text"
                      id="input-country"
                      class="form-control form-control-alternative"
                      placeholder="Country"
                      value="United States"
                    />
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country"
                      >Postal code</label
                    >
                    <input
                      type="number"
                      id="input-postal-code"
                      class="form-control form-control-alternative"
                      placeholder="Postal code"
                    />
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <h6 class="heading-small text-muted mb-4">About me</h6>
            <div class="pl-lg-4">
              <div class="form-group">
                <label>About Me</label>
                <textarea
                  rows="4"
                  class="form-control form-control-alternative"
                  placeholder="A few words about you ..."
                >
A beautiful Dashboard for Bootstrap 4. It is Free and Open Source.</textarea
                >
              </div>
            </div> -->
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Editar Perfil</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-md-12">
        <div class="card bg-secondary shadow border-1">
          <div class="card-body px-lg-12 py-lg-12">
            <form
              (ngSubmit)="onSubmitUpdate(updateForm, submitButton)"
              #updateForm="ngForm"
            >
              <div class="row justify-content-center pb-3">
                <div class="col-lg-3 order-lg-2">
                  <div class="card-profile-image">
                    <a href="javascript:void(0)">
                      <div style="display: none;">
                        <input
                          type="file"
                          id="file"
                          #userPhoto
                          (change)="onFileSelected($event, submitButton)"
                          name="image"
                          autocomplete="off"
                          accept="image/*"
                        />
                      </div>
                      <img
                        [src]="updateUser.imageurl"
                        class="rounded-circle"
                        (click)="userPhoto.click()"
                        style="width: 180px; height: 180px;"
                      />
                    </a>
                  </div>
                </div>
              </div>
              <!-- FIRSTNAME -->
              <div class="col mt-8">
                <div
                  class="text-muted font-italic"
                  *ngIf="validateInput(updateForm, 'firstname')"
                >
                  <small>
                    <span class="text-danger font-weight-700"
                      >Error: Nombre invalido</span
                    >
                  </small>
                </div>
                <div class="form-group">
                  <div
                    class="input-group input-group-alternative mb-3 border"
                    [ngClass]="{
                      'border-danger': validateInput(updateForm, 'firstname')
                    }"
                  >
                    <div class="input-group-prepend">
                      <span
                        class="input-group-text"
                        [ngClass]="{
                          'text-danger': validateInput(updateForm, 'firstname')
                        }"
                        ><i class="ni ni-hat-3"></i
                      ></span>
                    </div>
                    <input
                      class="form-control text-dark"
                      placeholder="Nombres"
                      type="text"
                      name="firstname"
                      [ngModel]="updateUser.firstname | titlecase"
                      (ngModelChange)="
                        updateUser.firstname = $event.toLowerCase()
                      "
                      (keyup)="onKeyUp(submitButton)"
                      required
                    />
                  </div>
                </div>

                <!-- LASTNAME -->
                <div
                  class="text-muted font-italic"
                  *ngIf="validateInput(updateForm, 'lastname')"
                >
                  <small>
                    <span class="text-danger font-weight-700"
                      >Error: Apellido invalido</span
                    >
                  </small>
                </div>
                <div class="form-group">
                  <div
                    class="input-group input-group-alternative mb-3 border"
                    [ngClass]="{
                      'border-danger': validateInput(updateForm, 'lastname')
                    }"
                  >
                    <div class="input-group-prepend">
                      <span
                        class="input-group-text"
                        [ngClass]="{
                          'text-danger': validateInput(updateForm, 'lastname')
                        }"
                        ><i class="ni ni-hat-3"></i
                      ></span>
                    </div>
                    <input
                      class="form-control text-dark"
                      placeholder="Apellidos"
                      type="text"
                      name="lastname"
                      [ngModel]="updateUser.lastname | titlecase"
                      (ngModelChange)="
                        updateUser.lastname = $event.toLowerCase()
                      "
                      (keyup)="onKeyUp(submitButton)"
                      required
                    />
                  </div>
                </div>

                <!-- USERNAME -->
                <div
                  class="text-muted font-italic"
                  *ngIf="validateInput(updateForm, 'username')"
                >
                  <small>
                    <span class="text-danger font-weight-700"
                      >Error: El usuario debe tener un minimo de 6 carácteres y
                      un maximo de 30</span
                    >
                  </small>
                </div>
                <div class="form-group">
                  <div
                    class="input-group input-group-alternative mb-3 border"
                    [ngClass]="{
                      'border-danger': validateInput(updateForm, 'username')
                    }"
                  >
                    <div class="input-group-prepend">
                      <span
                        class="input-group-text"
                        [ngClass]="{
                          'text-danger': validateInput(updateForm, 'username')
                        }"
                        ><i class="ni ni-circle-08"></i
                      ></span>
                    </div>
                    <input
                      class="form-control text-dark"
                      placeholder="Usuario"
                      type="text"
                      name="username"
                      [(ngModel)]="updateUser.username"
                      (keyup)="onKeyUp(submitButton)"
                      minlength="6"
                      maxlength="30"
                      required
                    />
                  </div>
                </div>
              </div>
              <div class="text-center">
                <button
                  type="submit"
                  class="btn btn-primary"
                  disabled
                  #submitButton
                >
                  Actualizar datos
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-5 col-md-12 mt-3">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
          explicabo laudantium cum error, accusamus ipsam quasi quo magnam
          molestias similique. Quam modi illo deleniti, doloribus voluptatem
          perspiciatis tenetur ipsam harum?
        </p>

        <button type="button" class="btn btn-info btn-lg btn-block">
          Cambiar contraseña
        </button>
        <button type="button" class="btn btn-danger btn-lg btn-block">
          Reportar un problema
        </button>
      </div>
    </div>
  </div>
  <!--  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close()">
      Cerrar
    </button>
  </div> -->
</ng-template>
